@page
@model MinaGroup.Backend.Pages.SystemManagement.RoleManagement.CreateModel
@{
    ViewData["Title"] = "Opret rolle";
}

<h1>Opret ny rolle</h1>

<form method="post">
    <div class="form-group">
        <label asp-for="Input.Name"></label>
        <input asp-for="Input.Name" class="form-control" />
        <span asp-validation-for="Input.Name" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary mt-2">Opret</button>
    <a asp-page="Index" class="btn btn-secondary mt-2">Tilbage</a>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}