@page
@model DownloadPersonalDataModel
@{
    ViewData["Title"] = "Download dine data";
    ViewData["ActivePage"] = ManageNavPages.PersonalData;
}

<h3>@ViewData["Title"]</h3>

<p>Din profilinformation downloades som en JSON-fil. Gem den på et sikkert sted.</p>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}