@page
@model SetPasswordModel
@{
    ViewData["Title"] = "Opsæt adgangskode";
    ViewData["ActivePage"] = ManageNavPages.ChangePassword;
}

<h3 class="text-center display-5 fw-bold mb-4">@ViewData["Title"]</h3>
<partial name="_StatusMessage" for="StatusMessage" />

<p class="text-info mb-4">
    Du har endnu ikke en lokal adgangskode til denne konto. Opret en lokal
    adgangskode, så du kan logge ind uden at bruge en ekstern login-tjeneste.
</p>

<div class="row justify-content-center">
    <div class="col-md-6">
        <form id="set-password-form" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger mb-3" role="alert"></div>

            <div class="form-floating mb-3">
                <input asp-for="Input.NewPassword" class="form-control" autocomplete="new-password" placeholder="Indtast ny adgangskode" />
                <label asp-for="Input.NewPassword" class="form-label">Ny adgangskode</label>
                <span asp-validation-for="Input.NewPassword" class="text-danger"></span>
            </div>

            <div class="form-floating mb-3">
                <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" placeholder="Bekræft ny adgangskode" />
                <label asp-for="Input.ConfirmPassword" class="form-label">Bekræft adgangskode</label>
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>

            <button type="submit" class="w-100 btn btn-lg btn-primary">Opret adgangskode</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}